{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat</title>
    
  <body>
    <div class="chat-container">
      <div class="chat-header">
        <h2>Chat Room</h2>
      </div>
      <div class="chat-messages" id="chat-messages">
        <!-- Messages will be dynamically loaded here -->
      </div>
      <div class="chat-input">
        <input
          type="text"
          id="message-input"
          placeholder="Type your message..."
        />
        <button id="send-button">Send</button>
      </div>
    </div>
    <script>
      let url = `ws://${window.location.host}/ws/chat/`;
      const chatSocket = new WebSocket(url);
      chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);

      };

      let messageInputDom = document.getElementById("message-input");
    </script>
  </body>
</html>
